@charset "UTF-8";
@media (min-width: 960px) and (max-width: 1120px) {
  .image {
    max-width: 190px;
    max-height: 210px;
  }
}
@media (min-width: 750px) and (max-width: 960px) {
  .image {
    max-width: 175px;
    max-height: 200px;
  }
}
@media (min-width: 560px) and (max-width: 750px) {
  .image {
    max-width: 126px;
    max-height: 150px;
  }
}
@media (min-width: 480px) and (max-width: 560px) {
  .image {
    max-width: 122px;
    max-height: 150px;
  }

  h1 {
    font-size: 20px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .image {
    max-width: 120px;
    max-height: 140px;
  }
}
html, body {
  height: 100%;
}

.bg {
  background-image: url(download.gif);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  margin: 25px 0 10px 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #ff7917;
  text-align: center;
}

.container {
  margin: 0 auto 10px;
  width: 80%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: rgba(64, 60, 60, 0.45);
}

.image {
  width: 200px;
  height: 230px;
}

.product-wrapper {
  display: block;
  width: auto;
  height: auto;
  float: left;
  margin: 10px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.product {
  border-radius: 10px;
  position: relative;
  margin: auto;
  color: #474747;
  z-index: 0;
  height: auto;
}

.scale {
  display: inline-block;
  overflow: hidden;
}

.scale img {
  -webkit-transition: 1s;
  transition: 1s;
  /* Время эффекта */
  display: block;
}

.scale img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  /* Увеличиваем масштаб */
}